# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.zip

# Virtual environments
venv/
.env/